<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a [routerLink]="['/login']" class="nav-link">
                        <i class="fa fa-lock" ></i> Login <b class="caret"></b>
                    </a>

                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="home-page">
    <div class="row ">
        <div class="col-md-8 push-md-2 text-left" style="margin-top:70px">
            <img src="assets/images/logo.png" style="float:left" width="300px" class="user-avatar" />

            <form role="form" style="float:left">
                <div class="form-content ml-4 mt-3">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg " id="" placeholder="CIK, Name or Date">
                    </div>
                </div>
  
            </form>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-8 push-md-2 text-left" style="margin-top:30px">
            <h2 class="titleText">Search Result</h2>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-8 push-md-2 text-left " id="resultList" style="margin-top:30px">
            <div class="row resultitem">
                <div class="col-md-3">
                    <h3>Honda Motor</h3>
                    <span>Kinnsa gos sleo awerql sdf ad.</span>
                </div>
                <div class="col-md-3">
                    <span>enean tempor libero sit amet lacus consequat, vel luctus nulla fermentum. Nulla sed tortor nunc.</span>>
                </div>
                <div class="col-md-2 text-center">

                    <span class="phoneText">+6625-5236-6523</span>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#"> <span>Download Document</span></a>
                </div>
            </div>
            <div class="row resultitem">
                <div class="col-md-3">
                    <h3>Honda Motor</h3>
                    <span>Kinnsa gos sleo awerql sdf ad.</span>
                </div>
                <div class="col-md-3">
                    <span>enean tempor libero sit amet lacus consequat, vel luctus nulla fermentum. Nulla sed tortor nunc.</span>>
                </div>
                <div class="col-md-2 text-center">

                    <span class="phoneText">+6625-5236-6523</span>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#"> <span>Download Document</span></a>
                </div>
            </div>
            <div class="row resultitem">
                <div class="col-md-3">
                    <h3>Honda Motor</h3>
                    <span>Kinnsa gos sleo awerql sdf ad.</span>
                </div>
                <div class="col-md-3">
                    <span>enean tempor libero sit amet lacus consequat, vel luctus nulla fermentum. Nulla sed tortor nunc.</span>>
                </div>
                <div class="col-md-2 text-center">

                    <span class="phoneText">+6625-5236-6523</span>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#"> <span>Download Document</span></a>
                </div>
            </div>
        </div>
    </div>
</div>